*.iml
.gradle
ChavesApk
release
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ORM GREENDAO
app/src/main/java/br/com/ernanilima/jinventario/repository/orm/*dao*.java
